---
layout: default
title: "마음의 정원 - Home"
---

<!-- SEO용 숨겨진 h1 -->
<h1 class="sr-only">마음의 정원 블로그</h1>

<!-- Posts -->
<ul id="posts">


	{% for post in paginator.posts %}

	  <li class="post">
	  	<h2><a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">{%if post.header %}{{ post.header }}{% else %}{{ post.title }}{% endif %}</a></h2>
      	<p>{{ post.content | strip_html | truncatewords:30 }}</p>
		<time datetime="{{ post.date | date_to_xmlschema }}" class="by-line"> <i>{{ post.date | date: "%Y.%m.%d" }}</i> </time>
	  </li>

    {% endfor %}

</ul>
